*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
main{
    height: 100%;
    width: 100%;
    display: flex;

    section{
        height: 100%;
        flex-grow: 1;
        background-color: red;
        border: 2px solid black;
        background-size: cover;
        background-position: center;

        transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
        cursor: pointer;

      
    }

    section:hover{
        flex-grow: 3;
    }
    section:nth-child(1){
     background-image: url(https://plus.unsplash.com/premium_photo-1761292485688-66093738b49c?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwxM3x8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=60&w=900);
     
    }
    section:nth-child(2){
        background-image: url(https://plus.unsplash.com/premium_photo-1761424393499-c92a4ff11ceb?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwzN3x8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=60&w=900);
    }
      section:nth-child(3){
        background-image: url(https://images.unsplash.com/photo-1761370920110-8fed918331e0?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=987);
    }
    section:nth-child(4){
        background-image: url(https://images.unsplash.com/photo-1761165308084-392672e8e7cf?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHw5Nnx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=60&w=900);
    }
     section:nth-child(5){
        background-image: url(https://images.unsplash.com/photo-1760987638177-a62cf8120ed5?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwxNzN8fHxlbnwwfHx8fHw%3D&auto=format&fit=crop&q=60&w=900);
    }
}