*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

#parent{
    height: 400px;
    width: 100%;
    background-color: #333;
    padding: 30px;
    display: flex;
    gap: 30px;
    flex-wrap: nowrap;
    overflow: auto;

}
.child{
    height: 100%;
    width: 300px;
    background-color: #fff;
    border-radius: 10px;
    flex-shrink: 0;

}
.child img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}