*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;

}
#main{
    background-color:lightblue;
    height: 100%;
    width: 100%;
    padding: 50px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}
.card1{
    height: 300px;
    width: 250px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 5px 10px 25px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.card1 img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.card1 h2{
    font-weight: 500;
    font-size: 26px;
}
.card1 button{
    border-radius: 50px;
    padding: 10px 30px;
    background-color: lightblue;
    border: none;
    color: white;
    font-weight: 600;
    cursor: pointer;
    border: 2px solid lightblue;
}
.card1{
    text-align: center;
    font-weight: 600;
    font-size: 14px;
}
.card1 button:hover{
    background-color: transparent;
    color: lightblue;


}